/*@page {
    size: 8.5in 13in ; 
    /*size: portrait;*/
    /*size: landscape;*/
    /*margin: 10px;
}*/

/*@page { size 8.5in 11in; margin: 2cm }*/

/*
@media print {
    .page-break { display: block; page-break-before: always; }

    .f_times_new * {
        font-family: "Times New Roman", Times, serif;
        text-align: justify;
        font-size: 20px;
        line-height: 1.2;
    }
        .f_times_new .title {
            font-weight: 700;
            font-size: 24px;
            text-decoration: underline;
            text-align: center;
        }
        .f_times_new p {
            margin-bottom: 20px;
        }
        ul.list li {
            list-style-type: none;
            line-height: 1;
        }
        p.no-margin {
            margin: 0;
        }
}*/
/*
@media print {
    /*@page {
        size: letter;
    }*/
  /*  html, body {
            width: 210mm;
            height: 297mm;        
        }
        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }*/
/*}
*/
